{% extends '@App/dashboard/dashboard.html.twig' %}

{% block content %}
    <h1>New Customer</h1>
    <div class="container-fluid">
        {{ form_start(customer_form) }}
        <div class="form-group row">
            <div class="col-md-6">
                {{ form_label(customer_form.first_name) }}
                {{ form_errors(customer_form.first_name) }}
                {{ form_widget(customer_form.first_name) }}
            </div>
            <div class="col-md-6">
                {{ form_label(customer_form.last_name) }}
                {{ form_errors(customer_form.last_name) }}
                {{ form_widget(customer_form.last_name) }}
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-5">
                {{ form_label(customer_form.address) }}
                {{ form_errors(customer_form.address) }}
                {{ form_widget(customer_form.address) }}
            </div>
            <div class="col-md-2">
                {{ form_label(customer_form.apartment_number) }}
                {{ form_errors(customer_form.apartment_number) }}
                {{ form_widget(customer_form.apartment_number) }}
            </div>
            <div class="col-md-2">
                {{ form_label(customer_form.city) }}
                {{ form_errors(customer_form.city) }}
                {{ form_widget(customer_form.city) }}
            </div>
            <div class="col-md-1">
                {{ form_label(customer_form.state) }}
                {{ form_errors(customer_form.state) }}
                {{ form_widget(customer_form.state) }}
            </div>
            <div class="col-md-2">
                {{ form_label(customer_form.zipcode) }}
                {{ form_errors(customer_form.zipcode) }}
                {{ form_widget(customer_form.zipcode) }}
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-group row">
                <button type="submit" value="save" class="btn btn-primary">Save</button>
            </div>
        </div>
        {{ form_end(customer_form) }}
    </div>

    <a class="add_new_order" style="float: right" title="Add New Order"><i class="fa fa-plus-circle"
                                                                           aria-hidden="true"></i></a>
    <div class="clear"></div>

    <div class="container-fluid">
        <div id="accordion_container" role="tablist" aria-multiselectable="true">
            {% for key,order_form in order_forms %}
                <div class="card {{ (order_form == order_forms|last) ? 'last_hidden_order_form hidden' : '' }}">
                    {{ form_start(order_form) }}
                    <div class="card-header">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-parent="#accordion_container" href="#order_content_{{ key }}"
                               aria-expanded="true" aria-controls="collapseOne">
                                Order {{ order_form.vars.data.dispatchId }} </a>

                            {% if key == (order_forms|length - 2) %}
                                <a class="add_new_order" style="float: right" title="Add New Order"><i
                                            class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            {% endif %}
                        </h5>
                    </div>

                    <div id="order_content_{{ key }}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            {{ form_widget(order_form) }}
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <button type="submit" value="save" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_end(order_form) }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.add_new_order').click(function (e) {
            $('.last_hidden_order_form').removeClass('hidden');
            $('.last_hidden_order_form .collapse').addClass('show');
        })
    </script>
{% endblock %}