{% extends '@App/dashboard/dashboard.html.twig' %}

{% block content %}
    <h1>New Customer</h1>
    <div class="container-fluid">
        <div id="search-grid-container"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/build/customer_search.bundle.js') }}"></script>
{% endblock %}