{% extends '@App/dashboard/dashboard.html.twig' %}

{% block content %}
    <h1>Cart Test</h1>
    <div class="container-fluid">
        <div id="cart-test-container"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/build/test_cart.bundle.js') }}"></script>
{% endblock %}