{% extends '@App/dashboard/dashboard.html.twig' %}

{% block content %}
    <h1>Counter Test</h1>
    <div class="container-fluid">
        <div id="counter-test-container"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/build/test_counter.bundle.js') }}"></script>
{% endblock %}