{% extends '::base.html.twig' %}

{% block body %}
    <div class='modal fade' id="login-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                    <form action="{{ path('login') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               placeholder="Username">


                        <input type="password" id="password" name="_password" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}
                    </form>
                </div>

                {#<div class="login-help">#}
                {#<a href="#">Register</a> - <a href="#">Forgot Password</a>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/login.bundle.js') }}"></script>
{% endblock %}